/* Base CSS */

svg[class^="axis-"] text {
    font-family: sans-serif;
    font-size: 10px;
    color: #333;
}

.line {
    fill: none;
    stroke-width: 2px;
    stroke: #999;
}

.axis path,
.axis line {
    stroke-width: 1px;
    stroke: #333;
    fill: none;
    shape-rendering: crispEdges;
}